@import url('modal.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  //background: #292b2e;
}

nav {
  height: 40px;
  background: #292b2e;
  display: flex;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
  justify-content: center;
}

.logo {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 2rem;
}

.img-bar {
  height: 140px;
  background: #000;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 1.5rem;
}

nav a:hover {
  color: #045ffd;
}

.hero {
  background: #292b2e;
}

.hero-container {
  //height: 95vh;
  min-height: 95vh;
  padding: 3rem calc((100vw - 1300px) / 2);
  background: #292b2e;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0rem 2rem;
  //background: #292b2e;
}

.column-center h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.column-center p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

.title-bar {
  text-align: center;
  color: white;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: white;
  background: #000;
  cursor: pointer;
  border-radius: 50px;
}

button a {
  text-decoration: none;
  color: white;
}

button a:hover {
  color: #045ffd;
}

[type="submit"] {
  text-decoration: none;
  color: white;
  background: none;
  font-size: 1rem;
}

[type="submit"]:hover {
  color: #045ffd;
}

button:hover {
  color: #045ffd;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.main-image {
  width: 500px;
}

.services-image {
  //width: 300px;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
  .popup-image img{
      width: 95%;
  }
}

.flexbox-container {
  display: flex;
  justify-content: space-around;
  color: #fff;
  flex-wrap: wrap;
  flex-flow: row-wrap;
  align-items: center;
  //border: 3px solid white;
}

.about-container {
  color: #fff;
  text-align: center;
  //border: 3px solid black;
  width: 70%;
  margin: auto;
  padding: 2rem 0;
  //background: #292b2e;
}

.flexbox-item {
  display: flex;
  margin: 5px;
  justify-content: space-around;
  padding: 0.5em;
}

.flexbox-item-1 {
  display: flex;
  min-height: 100px;
  //margin: 0.6em;
  flex: 25%;
  //border: 3px solid red;
  max-width: 50%;
  min-width: 375px;
  //margin: auto;
  padding: 0.5em;
  justify-content: space-around;
}

.flexbox-item-2 {
  min-height: 200px;
  flex: 25%;
  //border: 3px solid blue;
  max-width: 50%;
  min-width: 375px;
  //margin: auto;
  padding: 0.5em;
  justify-content: space-around;
}

.service-price {
  display: flex;
  //flex: 1;
  margin: auto;
  text-align: center;
  //border: 2px solid green;
  max-width: 49%;
  //text-overflow: ellipsis;
  //overflow: hidden;
  flex-wrap: wrap;
  flex-flow: row-wrap;
  justify-content: space-around;
}

.service-price2 {
  display: flex;
  //flex: 1;
  margin: auto;
  text-align: center;
  //border: 2px solid green;
  max-width: 49%;
  width: 100%;
  //text-overflow: ellipsis;
  //overflow: hidden;
  flex-wrap: wrap;
  flex-flow: row-wrap;
  justify-content: space-around;
  flex-direction: column;
  //padding: 1em;
}

.service-price-size1 {
  //text-overflow: ellipsis;
  //overflow: hidden;
  flex-wrap: wrap;
  flex-flow: row-wrap;
  //justify-content: space-around;
  max-width: 50%;
  //border: 2px solid yellow;
}

.service-price-size2 {
  //text-overflow: ellipsis;
  //overflow: hidden;
  flex-wrap: wrap;
  flex-flow: row-wrap;
  //justify-content: space-around;
  max-width: 50%;
  //border: 2px solid violet;
}

.service-title {
  //border: 2px solid yellow;
  padding: 0.5em;
}

.service-cost {
  //border: 2px solid violet;
  padding: 0.5em;
}

.service-pic {
  //flex: 1;
  text-align: right;
  margin: auto;
  //border: 2px solid orange;
  max-width: 49%;
}


.gallery {
    display: flex;
    //align-content: center;
    //align-items: center;
    justify-content: center;
    //border: 5px solid white;
    //margin: auto;
    //width: 95%;
    //flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
}


.gallery-box {
    //border: 5px solid blue;
    width: 92%;
    //margin: auto;
    justify-content: center;
    //display: flex;
    //flex-wrap: wrap;
    //gap: 15px;
    //padding: 10px;
}

.gallery-image {
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 0.5em;
    transition: 1s;
}

.gallery-image:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-image img{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
    border: 5px solid #fff;
    border-radius: 5px;
    max-height: 90%;
    max-width: 90%;
    object-fit: cover;
}

.popup-image span{
    position: absolute;
    top:0; right:10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

