@import url('modal.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

nav {
  height: 5vh;
  width: 100%;
  font-size: 1rem;
  background: #292b2e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-items {
    width: 100%;
    text-align: center;
}

.logo {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.img-bar {
  height: 140px;
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 1.5rem;
}

nav a:hover {
  color: #045ffd;
}

.hero {
  background: #292b2e;
}

.hero-container {
  min-height: 95vh;
  width: 100%;
  padding: 3rem calc((100vw - 1300px) / 2);
  background: #292b2e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-container2 {
  min-height: 95vh;
  padding: 2rem;
  background: #292b2e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0rem 2rem;
  text-align: center;
}

.column-center p {
  text-align: center;
}

.column-center h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.column-center p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

.title-bar {
  text-align: center;
  color: white;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: white;
  background: #000;
  cursor: pointer;
  border-radius: 50px;
}

button a {
  text-decoration: none;
  color: white;
}

button a:hover {
  color: #045ffd;
}

[value="Get Directions"] {
  text-decoration: none;
  color: white;
  background: none;
  font-size: 1rem;
}

[value="Get Directions"]:hover {
  color: #045ffd;
}

button:hover {
  color: #045ffd;
}

.column-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
}

.main-image {
  width: 500px;
}

.services-image {
  max-width: 100%;
}

.flexbox-container {
  display: flex;
  justify-content: space-around;
  color: #fff;
  flex-wrap: wrap;
  flex-flow: row-wrap;
  align-items: center;
}

.about-container {
  color: #fff;
  text-align: center;
  width: 70%;
}

.flexbox-item {
  display: flex;
  margin: 5px;
  justify-content: space-around;
  padding: 0.5em;
}

.flexbox-item-1 {
  display: flex;
  min-height: 100px;
  flex: 25%;
  max-width: 50%;
  min-width: 375px;
  padding: 0.5em;
  justify-content: space-around;
}

.flexbox-item-2 {
  min-height: 200px;
  flex: 25%;
  max-width: 50%;
  min-width: 375px;
  padding: 0.5em;
  justify-content: space-around;
}

.service-price {
  display: flex;
  margin: auto;
  text-align: center;
  max-width: 49%;
  flex-wrap: wrap;
  flex-flow: row-wrap;
  justify-content: space-around;
}

.service-price2 {
  display: flex;
  margin: auto;
  text-align: center;
  max-width: 49%;
  width: 100%;
  flex-wrap: wrap;
  flex-flow: row-wrap;
  justify-content: space-around;
  flex-direction: column;
}

.service-price-size1 {
  flex-wrap: wrap;
  flex-flow: row-wrap;
  max-width: 50%;
}

.service-price-size2 {
  flex-wrap: wrap;
  flex-flow: row-wrap;
  max-width: 50%;
}

.service-title {
  padding: 0.5em;
}

.service-cost {
  padding: 0.5em;
}

.service-pic {
  text-align: right;
  margin: auto;
  max-width: 49%;
}


.gallery {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 100vh;
}


.gallery-box {
  padding: 10px;
  width: 98%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 15px;
}

.gallery-image {
  margin: auto;
  transition: 1s;
  cursor: pointer;
  width: 100%;
}

.gallery-image:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.popup-image img{
  position: absolute;
  top:50%; left:50%;
  transform: translate(-50%,-50%);
  border: 5px solid #fff;
  border-radius: 5px;
  max-height: 90%;
  max-width: 90%;
  object-fit: cover;
}

.popup-image span{
  position: absolute;
  top:0; right:10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.reviews-container {
  border: 3px solid black;
  background-color: white;
  margin-top: 2rem;
  max-width: fit-content;
  padding: 2rem;
}

// For smaller screens like phones
@media screen and (max-width: 700px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
  .popup-image img{
    width: 95%;
  }

  nav {
    height: 11vh;
    min-width: 100vmin;
    font-size: 1rem;
    background: #292b2e;
    align-items: center;
    justify-content: center;
  }

  .nav-items {
    min-width: 100vmin;
    text-align: center;
    line-height: 1.5em;
  }

  .img-bar {
    min-width: 100vmin;
    height: 84px;
  }

  .main-image {
    width: 300px;
  }

}